body{
    background-color: #1d1d1d;
}

.navbar{
    background-color: #1d1d1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
}
li{
    list-style: none;
    color: wheat;
}

a{
    text-decoration: none;
    color: wheat;
}
a:hover{
    color: rgb(203, 172, 113);
}

h1{
    color: wheat;
}

#game{
    height: 85vh;
    display: flex;
    align-items: flex-end;
}
#perso{
    width: 31px;
    position: absolute;
    top: 174px;
    left: 31px;
    border: 1px solid blue;
    /* animation: perso-afterWin 3000ms;
    animation-fill-mode: forwards; */
}


.perso-win1{
    width: 31px;
    position: absolute;
    top: 174px;
    left: 31px;
    border: 1px solid blue;
    animation: perso-move1 3000ms;
    animation-fill-mode: forwards;
}
.perso-win2{
    width: 31px;
    position: absolute;
    top: 174px;
    left: 31px;
    border: 1px solid blue;
    animation: perso-move3 3000ms;
    animation-fill-mode: forwards;
}
.perso-win3{
    width: 31px;
    position: absolute;
    top: 174px;
    left: 31px;
    border: 1px solid blue;
    animation: perso-move5 3000ms;
    animation-fill-mode: forwards;
}

.perso-win4{
    width: 31px;
    position: absolute;
    top: 174px;
    left: 31px;
    border: 1px solid blue;
    animation: perso-move7 3000ms;
    animation-fill-mode: forwards;
}
.perso-win5{
    width: 31px;
    position: absolute;
    top: 174px;
    left: 31px;
    border: 1px solid blue;
    animation: perso-move9 3000ms;
    animation-fill-mode: forwards;
}

.perso-loose1{
    width: 31px;
    position: absolute;
    top: 174px;
    left: 31px;
    border: 1px solid blue;
    animation: perso-move2 3000ms;
    animation-fill-mode: forwards;
}
.perso-loose2{
    width: 31px;
    position: absolute;
    top: 174px;
    left: 31px;
    border: 1px solid blue;
    animation: perso-move4 3000ms;
    animation-fill-mode: forwards;
}
.perso-loose3{
    width: 31px;
    position: absolute;
    top: 174px;
    left: 31px;
    border: 1px solid blue;
    animation: perso-move6 3000ms;
    animation-fill-mode: forwards;
}

.perso-loose4{
    width: 31px;
    position: absolute;
    top: 174px;
    left: 31px;
    border: 1px solid blue;
    animation: perso-move8 3000ms;
    animation-fill-mode: forwards;
}
.perso-loose5{
    width: 31px;
    position: absolute;
    top: 174px;
    left: 31px;
    border: 1px solid blue;
    animation: perso-move10 3000ms;
    animation-fill-mode: forwards;
}

.perso-winGame{
    width: 31px;
    position: absolute;
    top: 174px;
    left: 31px;
    border: 1px solid blue;
    animation: perso-winGame 3000ms;
    animation-fill-mode: forwards;
}

@keyframes perso-move1{
    0%{
        transform: translate(0px, 0px);
    }
    40%{
        transform: translate(144px, 0px);
    }
    55%{
        transform: translate(245px, -81px);
    }
    60%{
        transform: translate(245px, -80px);
    }
    95%{
        transform: translate(318px, 152px);
    }
    100%{
        transform: translate(318px, 152px);
    }
}
@keyframes perso-move2{    
    0%{
    transform: translate(0px, 0px);
    }
    40%{
        transform: translate(144px, 0px);
    }
    55%{
        transform: translate(245px, -81px);
    }
    60%{
        transform: translate(245px, -80px);
    }
    /* 95%{
        transform: translate(318px, 148px);
    } */
    100%{
        transform: translate(318px, 675px);
    }

}


@keyframes perso-move3{
    0%{
        transform: translate(318px, 153px);
    }
    40%{
        transform: translate(500px, 153px);
    }
    55%{
        transform: translate(560px, 50px);
    }
    60%{
        transform: translate(560px, 55px);
    }
    95%{
        transform: translate(650px, 324px);
    }
    100%{
        transform: translate(650px, 324px);
    }
}
@keyframes perso-move4{
    0%{
        transform: translate(318px, 153px);
    }
    40%{
        transform: translate(500px, 153px);
    }
    55%{
        transform: translate(560px, 50px);
    }
    60%{
        transform: translate(560px, 55px);
    }
    95%{
        transform: translate(650px, 670px);
    }
    100%{
        transform: translate(650px, 675px);
    }
}
@keyframes perso-move5 {
    0% {
        transform: translate(650px, 324px);
    }
    40% {
        transform: translate(780px, 324px);
    }
    55% {
        transform: translate(880px, 180px);
    }
    60% {
        transform: translate(880px, 180px);
    }
    95% {
        transform: translate(880px, 535px);
    }
    100% {
        transform: translate(880px, 535px);
    }
    
}

@keyframes perso-move6 {
    0% {
        transform: translate(650px, 324px);
    }
    40% {
        transform: translate(780px, 324px);
    }
    55% {
        transform: translate(880px, 180px);
    }
    60% {
        transform: translate(880px, 180px);
    }
    95% {
        transform: translate(880px, 675px);
    }
    100% {
        transform: translate(880px, 675px);
    }
}

@keyframes perso-move7 {
    0% {
        transform: translate(880px, 535px);
    }
    40% {
        transform: translate(1070px, 535px);
    }
    55% {
        transform: translate(1150px, 400px);
    }
    60% {
        transform: translate(1150px, 400px);
    }
    95% {
        transform: translate(1200px, 625px);
    }
    100% {
        transform: translate(1200px, 625px);
    }
}

@keyframes perso-move8 {
    0% {
        transform: translate(880px, 535px);
    }
    40% {
        transform: translate(1070px, 535px);
    }
    55% {
        transform: translate(1150px, 350px);
    }
    60% {
        transform: translate(1150px, 350px);
    }
    95% {
        transform: translate(1200px, 675px);
    }
    100% {
        transform: translate(1200px, 675px);
    }
}

@keyframes perso-move9 {
    0% {
        transform: translate(1200px, 625px);
    }
    40% {
        transform: translate(1350px, 625px);
    }
    55% {
        transform: translate(1450px, 550px);
    }
    60% {
        transform: translate(1450px, 550px);
    }
    95% {
        transform: translate(1500px, 655px);
    }
    100% {
        transform: translate(1500px, 655px);
    }
    
}
@keyframes perso-move10 {
    0% {
        transform: translate(1200px, 625px);
    }
    40% {
        transform: translate(1350px, 625px);
    }
    55% {
        transform: translate(1450px, 500px);
    }
    60% {
        transform: translate(1450px, 500px);
    }
    95% {
        transform: translate(1500px, 675px);
    }
    100% {
        transform: translate(1500px, 675px);
    }
}

@keyframes perso-winGame {
    0% {
        transform: translate(1500px, 655px);
    }
    40% {
        transform: translate(1600px, 65s5px);
    }
    55% {
        transform: translate(1700px, 650px);
    }
    60% {
        transform: translate(1700px, 675s);
    }
    80% {
        transform: translate(1700px, 675px);
    }
    100% {
        transform: translate(1810px, 675px);
    }
    
}
@keyframes perso-afterWin {
    0% { transform: translate(1810px, 675px); 
    }
    100% { transform: translate(1750px, 675px); 
    }
}

.rectangles{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-end;
    width: 90vw;
}
.rectangle{
    width: 260px;
    height: 675px;
    justify-content: space-around;

}
#rectangle1{
    background-color: rgb(203, 172, 113);
    border: 1px solid black;
}

#rectangle2{
    height: 524px;
    background-color: none;
    border: 1px dotted black;
}

#rectangle3{
    height: 350px;
    background-color: none;
    border: 1px dotted black;
}

#rectangle4{
    height: 15vh;
    background-color: none;
    border: 1px dotted black;
}


#rectangle5{
    height: 5vh;
    background-color: none;
    border: 1px dotted black;
}


#rectangle6{
    height: 2vh;
    background-color: none;
    border: 1px dotted black;
}

hr{
    height: 50px;
    width: 2px;
    border: none;
    background-color: wheat;
    position: absolute;
    bottom: 30px;
    left: 95%;
}
#star{
    height: 50px;
    width: 50px;
    color: rgb(203, 172, 113);
    position: absolute;
    bottom: 36px;
    left: 95%;
}


.tests{
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    color: rgb(49, 255, 131);
}
#test1{
    top: 174px;
    left: 31px;
}
#test2{
    top: 174px;
    left: 175px;
}
#test3{
    top: 125px;
    left: 250px;
    transform: translate(25px, 0px);
}
#test4{
    top: 354px;
    left: 350px;
}
